<% layout('layouts/boilerplate.ejs') %>
<body>

    <div class="showpage-container ">
        
        <div class="showpage-text">
            <div class="showpage-title mt-2">
                <h2><%= listing.title %></h2>
            </div>
    
            <div class="showpage-details">
                <uL style="margin: 1.1rem; padding: 10px; line-height: 32px; ">
                    <li><%= listing.location %></li>
                    <li><%= listing.country %></li>
                </uL>
                <h4 style="color: rgb(19, 145, 19); margin: 0 0 0 0.8rem; font-size: 1.8rem; font-weight: 600; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">&#8377; <%= listing.price.toLocaleString("en-IN") %></h4>
                <br>
    
                <div class="showpage-btns-div">
                    <a style="width: 4rem; margin: 0 1rem 1rem 0;" class="btn btn-primary" href="/listings/<%=listing._id%>/edit">Edit</a>
                    <form method="post" action="/listings/<%=listing._id%>?_method=delete"><button class="btn btn-danger">Delete</button></form>
                </div>
            </div>
        </div>

        <div class="showpage-body col-8">
            <div class="card showpage-img-card" >
                <img src="<%= listing.image.url %>" class="card-img-top showpage-img" alt="listing_image">
                <div class="card-body">
                    <p class="card-text m-2 " style="padding-left: 2rem; font-weight: 500;"><%= listing.description %></p>
                </div>
            </div>
        </div>
    </div>

</body>





    